.top-bar {
  width: 100%;
  padding: 15px 0;
  background-color: $white;

  .search-btn {

    span {

      a {
        display: inline-block;
        border: 2px solid $main-color;
        border-radius: 3px;
        padding: 0px 7px;
        font-size: 12px;
        text-align: center;
        color: $main-color;
        line-height: 30px;
        cursor: pointer;

        &:hover {
          background-color: $main-color;
          color: $white;
        }
      }
    }
  }

  .top-cat-box {
    text-align: left;

    .menu {

      ul {
        list-style: none;

        li {
          display: inline-block;
          margin: 6px 0;
          border-left: 1px solid #d4cece;
          text-align: center;

          &:last-child {
            border-left: 0;
          }

          a {
            display: inline-block;
            padding: 1px 15px;
            color: #7b7272;
            font-size: 12px;
          }
        }
      }
    }
  }
}

.main-header {
  width: 100%;
  background-color: #fff;
  position: relative;
  text-align: center;
  text-align: center;
  margin-bottom: 30px;
  border-top: 1px solid #eee;

  .main-menu {
    text-align: right;

    ul {

      li {
        display: inline-block;
        text-align: center;

        a {
          display: inline-block;
          padding: 20px 10px;
          color: #6b7e86;
          font-size: 13px;
        }
      }
    }
  }

  .social-box {
    padding: 14px 0;

    ul {

      li {
        display: inline-block;
        text-align: center;

        a {
          i {
            display: inline-block;
            color: $main-color;
            width: 28px;
            height: 28px;
            line-height: 27px;
            border: 2px solid $main-color;
            border-radius: 50%;

            &:hover {
              color: #fff;
              background-color: $main-color;
            }
          }
        }
      }
    }
  }
}